@import "tailwindcss";

@layer utilities {
  .roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .headline-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  @media (min-width: 768px) {
    .headline-font {
      font-weight: 400;
      font-size: 1.25rem;
    }
  }
}

.holtwood-one-sc-regular {
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
}
